* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins;
}



/* Navbar */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    background: #fff;
    height: 70px;
}

.logo {
    font-size: 30px;
    font-weight: bold;
    padding: 3px 10px; 
    display: inline-block; 
}

.logo .dot {
    color: green;
    font-size: 30px;
}

header input{
    padding: 5px;
     width: 650px;
     background-color: #eceaea;
     border-radius: 10px;
    border: 1px solid lightgray;
     
}
.header-icons {
    display: flex;
    gap: 0px;
}
.header-icons img {
    width: 30px;
    height: 30px;
}
.icon{
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin: 10px;
}
nav{
    background-color: #003912;
    height: 100px;
    padding-top: 30px;
    padding-left: 40px;
    
}
nav a {
    margin: 0 10px;
    text-decoration: none;
    color: white;
    font-size: 30px;
    font-family: 'Raleway', sans-serif;
    
   
    
}
nav a:hover{
    color: green;
}




.container {
    display: grid;
    grid-template-columns: 1.6fr 1.4fr;
    gap: 20px;
    padding: 20px;
    margin-top: 35px;
}

.informations{
    
    padding: 20px;
    border-radius: 10px;
    padding-top: 15px;
    border: 2px solid rgb(122, 122, 122);
    
    height: 500px;
    margin-top: 50px;
    
}
.informations h2{
    font-family: 'Raleway', sans-serif;
    font-size: 50px;
    padding-top: 20px;
    padding-left: 100px;
}
.informations p{
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    padding-top: 30px;
}
.informations button{
    background-color: #003912;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 40px;
    width: 200px;
    margin-left: 170px;
    font-size: 20px;
}
.information{
        display: flex;
        margin-top: 20px;
        margin-left: 50px;
}
.information img{
    margin-left: 60px;
}
.information p{
    margin-left: 20px;
    font-family: 'Raleway', sans-serif;
    font-size: 25px;
}
.freelancer-info{
           display: flex;
           padding-left: 10px;
            align-items: center;
}
.freelancer-info img{
    width: 50px;
    height: 50px;
}
.freelancer-info p{
    padding-left: 15px;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
}
.free{
    margin-top: 5px;
}
.free h3{
    margin-top: 40px;
    margin-bottom: 20px;
    font-family: 'Raleway', sans-serif;
    font-size: 35px;
}
.free p{
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
}



















